main {
	width: 100%;
}

article {
	width: 100%;
	margin: 0 auto;
	border-bottom: 2px solid #eee;
	text-align: center;
	padding: 10px 0;
}

article > video {
	display: block;
	margin: 0 auto;
	padding: 20px 0; 
	max-width: 100%;
} 

iframe {
	border: 0px;
	overflow: hidden;
}